.MangaItemLink,
.ChapterButtonMinus,
.ChapterButtonPlus,
.AkcjaButton {
  color: #1888ff;
}

.MangaItem {
  background: oldlace;
}

.MangaItemNaBiezaco {
  background: honeydew;
}

.MangaItem td {
  text-align: center;
  padding: 0;
}

.ChapterSelectWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ChapterSelect {
  border-radius: 0;
  font-size: inherit;
}

.ChapterSelect > div {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ChapterSelectItem {
  font-size: 0.875rem;
}

.MangaAkcje {
  display: flex;
  justify-content: center;
}
