.SprawdzanieMangi {
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.SprawdzMangi {
  border-radius: 0;
  color: #1888ff;
}

.MangiTable th {
  text-align: center;
}

.ProgressWrapper {
  flex: 1;
  justify-content: center;
  display: flex;
  align-items: center;
}
