.card {
  margin: 12px;
}

.PosilkiHeaderRoot {
  padding: 4px 16px;
}

.PosilkiHeaderContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PosilkiHeaderAction {
  margin-top: 0;
}

.media {
  height: 0;
  padding-top: 56.25%;
}
