.Wrapper {
  display: flex;
  align-items: center;
}

.Label {
  width: 8ch;
}

.Url {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  flex: 1;
}

.UrlInput {
  flex: 1;
  padding-left: 12px;
}

.UrlButton {
  color: #1888ff;
}

.TytulInput {
  flex: 1;
}

.ButtonZapisz {
  color: #1888ff;
}
