.Navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 48px;
  padding: 5px 12px;
  display: flex;
}

.LogoIcon {
  height: 100%;
}

.LogoIcon > svg {
  height: 100%;
  fill: #fff;
}

.MenuIcon {
  display: none;
}

.Menu {
  flex-grow: 1;
}

.MenuList {
  list-style: none;
  display: flex;
  justify-content: end;
}

.Menu li {
  display: flex;
  align-items: center;
}

.Menu li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.Menu li a:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 960px) {
  .MenuIcon {
    color: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    cursor: pointer;
    transform: translate(-100%, 30%);
  }

  .MenuIconActive {
    transform: translate(-130%, 30%);
  }

  .MenuList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 48px);
    position: absolute;
    top: 48px;
    left: -100%;
    transition: all 0.5s ease;
    /* justify-content: start; */
    justify-content: space-evenly;
  }

  .MenuListActive {
    background: #242222;
    left: 0;
  }

  .MenuList li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    border-bottom: 1px solid #100909;
  }

  .MenuList li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Menu li a:hover {
    border-radius: 0;
  }
}
