@import "../../../../config/colors.scss";

.root > * {
  margin: 8px;
}

.dialog {
  width: 500px;
}

.zdjecie {
  height: 0;
  padding-top: 56.25%;
  border: 1px solid $color-text-disabled;
}

.zdjecieImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.brakZdjecia {
  position: relative;
}

.brakZdjecia > svg {
  font-size: 5rem;
  position: absolute;
  left: calc(50% - 2.5rem);
  top: calc(50% - 2.5rem);
}

.actions > button {
  color: $color-primary;
}

.asd {
  width: 100%;
  display: flex;
}

.asd1 {
  flex: 1;
}
